<editItems>
    <form action="updateStock" class="inputtext" id="updateStock" method="GET">
    {{#each table}}
        <input name="itemName" id="itemName" type="text" maxlength="25" size="25" value="{{this.product_name}}">
        <br>
        <textarea name="itemDescription" id="itemDescription" cols="76" rows="10">{{this.description}}</textarea>
        <br>
        <input name="price" id="price" type="text" size="6" value="{{this.price}}">
        <input name="quantity" id="quantity" type="text" size="6" value="{{this.inventory}}">
    <hr>
    {{/each}}
    <button type="submit">Submit</button>
    </form>
</editItems>