<header>
    <a class="btn" href="/editHome">Home</a>
    <a class="btn" href="/editCalendar">Edit Calendar</a>
    <a class="btn" href="/editUpdates">Edit Updates</a>
    {{!-- <a class="btn" href="/editStock">Edit Stock</a> --}}
    <a class="btn" href="/logout">Logout</a>
    <h1>
        {{title}}
    </h1>
</header>