<header>
    <a href="/editHome">Home</a>
    <a href="/editCalendar">Edit Calendar</a>
    <a href="/editUpdates">Edit Updates</a>
    <a href="/editStock">Edit Stock</a>
    <h1>
        {{title}}
    </h1>
</header>