<updateDropdown>
    <form id="deleteUpdate" action="deleteUpdate" method="GET" style="display: none;">
        <select name="deleteTitle" id="dropDown">
            <option value="" selected>-Select-</option>
            {{#each dropdown}}
            <option value="{{this.title}}">{{this.title}}</option>
            {{/each}}
        </select>
        <br>
        <button class="btn" type="submit" form="deleteUpdate">Submit</button>
    </form>
</updateDropdown>