<!DOCTYPE html>
<html>
    <head>
        {{>displayCalendar}}
        <link rel="stylesheet" type="text/css" href="/css/bdb.css">
    </head>
    <body>
        {{>header}}
        <div id='calendar'></div>
        <hr>
        {{>footer}}
    </body>
</html>