<!DOCTYPE html>
<html>
    <head>
        <title>Connect</title>
        <link rel="stylesheet" type="text/css" href="/css/bdb.css">
        <link rel="icon" href="/img/bdb_logo.jpg">
    </head>
    <body>
        {{>header}}
        <p>We want to hear from you!  Give us a call, follow us on Facebook or Instagram or, better yet, come one in!</p>
        <ul>
            <li>Phone: (360) 350-0221</li>
            <li>Address: 4444 Lacey Blvd SE Suite B, Lacey, WA 98503</li>
        </ul>
        <div id="connect_buttons">
            <a href="https://www.facebook.com/backdoorpies/">
                <img src="/img/fb_button_edit.jpg" alt="Connect to Facebook" style="height: 50px;">
            </a>
            <a href="https://www.instagram.com/tbdbpiesandcakes/">
                <img src="/img/insta_button.jpg" alt="Connect to Instagram" style="height: 50px;">
            </a>
        </div>
        <div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=4444%20Lacey%20Blvd%20SE%20Suite%20B%2C%20Lacey%2C%20WA%2098503&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.whatismyip-address.com">how to find out my ip addres</a></div><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div>
        <hr>
        {{>footer}}
    </body>
</html>