<!DOCTYPE html>
<html>
    <head>
        <title>Connect</title>
        <link rel="stylesheet" type="text/css" href="/css/bdb.css">
    </head>
    <body>
        {{>header}}
        <div id="connect_buttons">
            <a href="https://www.facebook.com/backdoorpies/">
                <img src="/img/fb_button_edit.jpg" alt="Connect to Facebook" style="width: 200px;">
            </a>
            <br>
            <a href="https://www.instagram.com/tbdbpiesandcakes/">
                <img src="/img/insta_button.jpg" alt="Connect to Instagram" style="width: 200px;">
            </a>
        </div>
        <hr>
        {{>footer}}
    </body>
</html>