<!DOCTYPE html>
<html>
    <head>
        <title>Welcome</title>
        <link rel="stylesheet" type="text/css" href="/css/bdb.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
    <body>
        {{>header}}
        {{!-- <img src="/img/bdb_logo.jpg" alt="Logo" style="width:1000px"> --}}
        <div class="w3-content w3-section" style="max-width:500px">
            <img class="mySlides w3-animate-fading" src="/img/bdb_logo.jpg" style="width:100%">
            <img class="mySlides w3-animate-fading" src="/img/Slideshow1.png" style="width:100%">
            <img class="mySlides w3-animate-fading" src="/img/Slideshow2.png" style="width:100%">
            <img class="mySlides w3-animate-fading" src="/img/Slideshow3.png" style="width:100%">
            <img class="mySlides w3-animate-fading" src="/img/Slideshow4.png" style="width:100%">
            <img class="mySlides w3-animate-fading" src="/img/Slideshow5.png" style="width:100%">
            <img class="mySlides w3-animate-fading" src="/img/Slideshow6.png" style="width:100%">
            <img class="mySlides w3-animate-fading" src="/img/Slideshow7.png" style="width:100%">
            <img class="mySlides w3-animate-fading" src="/img/Slideshow8.png" style="width:100%">
            <img class="mySlides w3-animate-fading" src="/img/Slideshow9.png" style="width:100%">
            <img class="mySlides w3-animate-fading" src="/img/Slideshow10.png" style="width:100%">
        </div>

        <script>
        var myIndex = 0;
        carousel();

        function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";  
        }
        myIndex++;
        if (myIndex > x.length) {myIndex = 1}    
        x[myIndex-1].style.display = "block";  
        setTimeout(carousel, 9000);    
        }
        </script>
        <hr>
        <p>Welcome to the Backdoor Bakery Pies and Cakes.  We make delicious pies and cakes for any occasion.  We recommend the cutie pies since they let you try more pies without the normal amount of guilt.  Above, you will find links that will take you to our event calendar, the various ways to connect with us, our updates blog and a list of some of the wonderful things that we're baking today. </p>
        <div id="hours">
            Here's when we're open:
            <table>
                <tr>
                    <th>Day</th>
                    <th>Hours</th>
                </tr>
                <tr>
                    <td>Sunday</td>
                    <td>Closed</td>
                </tr>
                <tr>
                    <td>Monday</td>
                    <td>Closed</td>
                </tr>
                <tr>
                    <td>Tuesday</td>
                    <td>11AM–2PM, 4–10PM</td>
                </tr>
                <tr>
                    <td>Wednesday</td>
                    <td>11AM–2PM, 4–10PM</td>
                </tr>
                <tr>
                    <td>Thursday</td>
                    <td>11AM–2PM, 4–10PM</td>
                </tr>
                <tr>
                    <td>Friday</td>
                    <td>11AM–2PM, 4–10PM</td>
                </tr>
                <tr>
                    <td>Saturday</td>
                    <td>11AM-10PM</td>
                </tr>
            </table>
        </div>
        <hr>
        {{>footer}}
    </body>
</html>