<!DOCTYPE html>
<html>
    <head>
        <title>Stock</title>
        <link rel="stylesheet" type="text/css" href="/css/bdb.css">
    </head>
    <body>
        {{>header}}
        <hr>
        {{>slideshow}}
        <hr>
        {{!-- {{>stockTable}}
        <hr>
        This list is updated at least daily and may not necessarily reflect what we have currently have in stock.
         --}}
        <iframe src="/pdf/BDBmenu.pdf" width="100%" height="600px">
    </iframe>
    {{>footer}}
    </body>
</html>