<!DOCTYPE html>
<html>
    <head>
        <title>Updates</title>
        <link rel="stylesheet" type="text/css" href="/css/bdb.css">
    </head>
    <body>
        {{>header}}
        <hr>
        {{>updates}}
        {{>footer}}
    </body>
</html>