<!DOCTYPE html>
<html>
    <head>
        <title>Edit Updates</title>
        <script src="/js/validate.js"></script>
        <script src="/js/adminFunctions.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/bdb.css">
    </head>
    <body>
        {{>editHeaders}}
        <hr>
        {{>updates}}
        <input id="removeUpdate" class="btn" type="button" onclick="showUpdateDelete()" value="Delete an Update">
        <input id="editUpdate" class="btn" type="button" onclick="showEditUpdate()" value="Edit an Update">
        <input id="addUpdateBtn" class="btn" type="button" onclick="showAddUpdate()" value="Add an Update">
        <input id="updateCancel" class="btn" type="button" onclick="updateCancel()" value="Cancel" style="display: none;">
        <br>
        {{>updateDropdown}}
        {{>editUpdates}}
        <form class="inputText" id="addUpdate" action="editUpdate" method="POST" enctype="multipart/form-data" style="display: none;">
            <input name="updateTitle" id="Updatetitle" type="text" maxlength="100" size="101" value="Enter Your Title"><br>
            <textarea name="updateText" id="updateText" cols="76" rows="10">Enter Your Updates</textarea>
            <br>
            Add Image:<input type="file" name="updateImg" />
            <button class="btn" type="submit" form="addUpdate">Submit</button>
        </form>
        <hr>
        {{>footer}}
    </body>
</html>
