<!DOCTYPE html>
<html>
    <head>
        <title>Edit Updates</title>
    </head>
    <body>
        {{>editHeaders}}
        <hr>
        {{>updates}}
        <h1>Create an Update</h1>
        <form class="inputText" id="update" action="">
            <input id="Updatetitle" type="text" maxlength="100" size="101" value="Enter Your Title"><br>
            <textarea name="updateText" id="updateText" cols="76" rows="10">Enter Your Updates</textarea>
            <br>
            <input type="submit" value="Submit">
        </form>
        <hr>
        <h1>Delete an Update</h1>
        <form id="deleteUpdate" action="">
            <select name="updates" id="dropDown">
                <option value="" selected>-Select-</option>
            </select>
            <br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>
