<!DOCTYPE html>
<html>
    <head>
        <title>Edit Calendar</title>
        {{>displayCalendar}}
        <link rel="stylesheet" type="text/css" href="/css/bdb.css">
        <script src="/js/validate.js"></script>
        <script src="/js/adminFunctions.js"></script>
    </head>
    <body>
        {{>editHeaders}}
        <hr>
        <div id="calendar"></div>
        <hr>
        <input id="addEventBtn" class="btn" type="button" onclick="showAddEvent()" value="Add an Event">
        <input id="editEvents" class="btn" type="button" onclick="editEvents()" value="Edit or Delete an Event">
        <input id="calendarCancel" class="btn" type="button" onclick="calendarCancel()" value="Cancel" style="display: none;">
        <br>
        {{!-- EDIT EVENT --}}
        <form class="inputText" action="editCalendar" method="POST" id="addEvent" style="display: none;">
            <input name="eventName" type="text" maxlength="100" size="100" value="Enter Your Event Name">
            <br>
            Start Date:
            <input name="sMonth" type="text" size="2" maxlength="2" value="MM">/
            <input name="sDay" type="text" size="2" maxlength="2" value="DD">/
            <input name="sYear" type="text" size="4" maxlength="4" value="YYYY">
            <br>
            End Date (Leave blank if event is just one day long):
            <input name="eMonth" type="text" size="2" maxlength="2" value="MM">/
            <input name="eDay" type="text" size="2" maxlength="2" value="DD">/
            <input name="eYear" type="text" size="4" maxlength="4" value="YYYY">
            <br>
            Days of the Week:
            <input type="checkbox" name="daysOfWeek" value="0">Sunday
            <input type="checkbox" name="daysOfWeek" value="1">Monday
            <input type="checkbox" name="daysOfWeek" value="2">Tuesday
            <input type="checkbox" name="daysOfWeek" value="3">Wednesday
            <input type="checkbox" name="daysOfWeek" value="4">Thursday
            <input type="checkbox" name="daysOfWeek" value="5">Friday
            <input type="checkbox" name="daysOfWeek" value="6">Saturday
            <br>
            Start Recurrance:
            <input name="sRecurMonth" type="text" size="2" maxlength="2" value="MM">/
            <input name="sRecurDay" type="text" size="2" maxlength="2" value="DD">/
            <input name="sRecurYear" type="text" size="4" maxlength="4" value="YYYY">
            <br>
            End Recurrance:
            <input name="eRecurMonth" type="text" size="2" maxlength="2" value="MM">/
            <input name="eRecurDay" type="text" size="2" maxlength="2" value="DD">/
            <input name="eRecurYear" type="text" size="4" maxlength="4" value="YYYY">
            <br>
            <button class="btn" type="submit" form="addEvent">Submit</button>
        </form>
        {{!-- ADD EVENT --}}
        <form class="inputText" action="editEvent" method="GET" id="selectMonth" style="display: none;">
            <select name="selectMonth">
                <option value="">Month</option>
                <option value="01">January</option>
                <option value="02">February</option>
                <option value="03">March</option>
                <option value="04">April</option>
                <option value="05">May</option>
                <option value="06">June</option>
                <option value="07">July</option>
                <option value="08">August</option>
                <option value="09">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
            <input name="selectYear" type="text" size="4" maxlength="4" value="YYYY">
            <button class="btn" type="submit" form="selectMonth">Submit</button>
        </form>
        <hr>
        {{>footer}}
    </body>
</html>