<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/bdb.css">
        <title>Login</title>
    </head>
    <body>
        <a href="/editHome">Some login boxes will go here</a>
        <form action="login" method="POST" name="login" id="login">
            Username:<input type="text" name="username" size="10" maxlength="10">
            <br>
            Password:<input type="text" name="password" size="10" maxlength="10">
            <button class="btn" type="submit" form="login">Submit</button>
        </form>
        <form action="createUser" method="POST" name="createUser" id="createUser">
            Username:<input type="text" name="username" size="10" maxlength="10">
            <br>
            Password:<input type="text" name="password" size="10" maxlength="10">
            <button class="btn" type="submit" form="createUser">Submit</button>
        </form>
        {{#if this.message}}
        <p style="color: red;">{{ message }}</p>
        {{/if}}
        <hr>
        {{>footer}}
    </body>
</html>